.container {
    width: 1024px;
    height: 700px;
    margin: auto;
    background-color: #f1c36e;
}

.heading {
    text-align: center;
    color: #171750;
}

.userBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}

.userBox input {
    width: 85%;
    height: 10%;
    border: 1.2px solid #5DAAE0;
    border-radius: 2px;
}

.userBox label {
    display: inline-block;
    width: 70%;
    font-size: 1.2em;
    font-weight: bold;
    color: #252C48;
}

.notes {
    background-color: #7fff00;
}

.userBox select,
textarea {
    width: 80%;
    height: 70%;
    border: 1.2px solid #5DAAE0;
    border-radius: 2px;
}

#tableAdd {
    width: 100%;
    padding: 1.3px;
    border: 3px solid #252C48
}

#tableAdd tr {
    padding: 1.3 px;
    border: 2px solid #252C48
}

#tableAdd td {
    color: #861e1e;
    font-size: 1.2 em;
    font-weight: bolder;
    border: 2px solid #252C48;
    align-content: center
}

#tableAdd th {
    color: #861e1e;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #252C48
}