.container {
    width: 1000px;
    height: 1000px;
    margin: auto;
    border: #000000 solid 2px;
    background-color: #ffff00;
}

.content {
    width: 1000px;
    height: 1000px;
}

.heading {
    font-size: 30px;
    color: #e61e46;
    background-color: #fff8dc;
}

.seller-info {
    height: 200px;
    width: 1000px;
    background-color: #f7f73b;
}

.photo {
    width: 150px;
    height: 150px;
}

.image {
    display: block;
}

.loc {
    display: block;
}

.label {
    font-size: 30px;
    color: #8b008b;
    border: #000000 solid 2px;
    background-color: #f8d377;
}

.item-div {
    display: inline-block;
    width: 31%;
    height: 600px;
    border-bottom: #000000 solid 3px;
    background-color: #eb5858;
}

.item {
    display: block;
    width: 32.5%;
    font-size: 20px;
    color: #f5deb3;
}

.pic {
    height: 350px;
    width: 350px;
}