.container {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

.content {
    width: 1000px;
    height: 1000px;
}

.first-section {
    display: inline-block;
    width: 30%;
    height: 1000px;
}

.second-section {
    display: inline-block;
    width: 60%;
    height: 1000px;
}

.first-sub {
    width: 97.8%;
    height: 300px;
    border-top: #000000 solid 8px;
    border-bottom: #000000 solid 8px;
    border-right: #000000 solid 8px;
    border-left: #000000 solid 6px;
    background-color: #ffe4c4;
}

.second-sub {
    width: 97.8%;
    height: 400px;
    border-top: #000000 solid 8px;
    border-right: #000000 solid 8px;
    border-bottom: #000000 solid 6px;
    border-left: #000000 solid 6px;
    background-color: #ffe4c4;
}

.third-sub {
    width: 97.8%;
    height: 268px;
    border-top: #000000 solid 8px;
    border-right: #000000 solid 8px;
    border-bottom: #000000 solid 6px;
    border-left: #000000 solid 6px;
    background-color: #14ade9;
}

.sub-one {
    width: 100%;
    height: 720px;
    border-bottom: #000000 8px solid;
    border-top: #000000 6px solid;
    border-right: #000000 6px solid;
    background-color: #eb602e;
}

.sub-two {
    width: 100%;
    height: 272px;
    border-bottom: 6px #000000 solid;
    border-right: #000000 6px solid;
    background-color: #fcead5;
}

.one {
    width: 8.7%;
    height: 48.9%;
    margin-left: 90%;
    border-left: 8px #000000 solid;
    border-bottom: 6px #000000 solid;
    background-color: #fcead5;
}

.two {
    width: 8.7%;
    height: 48%;
    margin-left: 90%;
    border-left: 8px #000000 solid;
    border-top: 4px #000000 solid;
    background-color: #e7e417;
}