.container {
    width: 700px;
    height: 800px;
    margin: auto;
    padding: 30px;
    border: 10px orange solid;
}

.content {
    width: 680px;
    height: 890px;
}

.personal-details {
    display: inline-block;
    width: 69.3%;
    line-height: 1.2em;
}

.photo {
    width: 50%;
    height: 50%;
}

.img {
    display: inline-block;
    width: 30%;
}

.ques-details {
    display: inline-block;
    width: 48%;
}

.ans-details {
    display: inline-block;
    width: 49%;
}

.first-div {
    padding: 5px;
    border-bottom: 5px solid #a52a2a;
}

.working-exp-list {
    width: 100%;
    padding-left: 18px;
}

.other-skills-list {
    width: 100%;
    padding-left: 18px;
}

.org-exp-list {
    width: 100%;
    padding-left: 18px;
}

.ed-time {
    display: inline-block;
    width: 30%;
}

.ed-details {
    display: inline-block;
    width: 60%;
}

.major {
    position: relative;
    left: 31%;
}

.major-label {
    display: inline-block;
    width: 20%;
}

.major-detail {
    display: inline-block;
    width: 50%;
}

.education {
    line-height: 1.4em;
}

.details {
    position: relative;
    left: 3%;
}

.other-skills {
    padding: 5px;
    line-height: 1.4em;
    border-bottom: 5px solid #a52a2a;
}

.working-exp {
    padding: 5px;
    line-height: 1.4em;
    border-bottom: 5px solid #a52a2a;
}

.org-exp {
    line-height: 1.4em;
}

.work-time {
    display: inline-block;
    width: 30%;
}

.work-details {
    display: inline-block;
    width: 60%;
}

.org-time {
    display: inline-block;
    width: 30%;
}

.org-details {
    display: inline-block;
    width: 60%;
}