.container {
    width: 1200px;
    height: 1200px;
    margin: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #4267b2;
}

.pic {
    width: 20px;
    height: 20px;
}

.img-label {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.log-in-link {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.create-account {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #2da72d;
}

.logo-and-label {
    display: inline-block;
    width: 15%;
    margin-left: 10%;
}

.search-space {
    display: inline-block;
    width: 40%;
}

.buttons {
    display: inline-block;
    width: 20%;
}

.home {
    text-decoration: none;
    color: #d4cece;
}

.dropbtn {
    font-size: 1.4em;
    border: none;
    background-color: #4267b2;
    color: #d4cece;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    font-size: 1.3em;
    min-width: 35%;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
    background-color: #ffffff;
}

.dropdown-content a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #444950;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    display: inline-block;
    width: 17%;
}

.second-line {
    margin: 3% 1% 1% 5%;
}

.photo {
    width: 25%;
    height: 200px;
}

.section {
    margin-top: 20px;
    border-bottom: #ddd9d9 solid 1px;
}

.section-link {
    display: block;
    padding: 5px;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
}

.design {
    padding-right: 5px;
    color: #c2b8b8;
}

.aside-div {
    display: inline-block;
    width: 17%;
    height: 800px;
    padding-left: 30px;
    border-right: #ddd9d9 solid 1px;
    vertical-align: top;
}

.main-div {
    display: inline-block;
    width: 75%;
    height: 1000px;
    padding-left: 50px;
}

.about {
    width: 20%;
    padding: 5.5px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #55bee7;
}

.first-part {
    margin-top: 5px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}

.options {
    list-style-type: disc;
}

.content-links {
    cursor: pointer;
    text-decoration: none;
    color: #385898;
}

.second-part {
    height: 70px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #f1efef;
}

.checkbox-label {
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    color: #8d8b8b;
}

.yes,
.no {
    padding-left: 15px;
    color: #8d8b8b;
}

.sub-part {
    display: inline-block;
    width: 32.5%;
    border: #d2cbcb solid 1px;
}

.photo {
    width: 99.8%;
}

.about-this,
.topic-label {
    display: block;
    padding-left: 10px;
}

.topic-label {
    padding-left: 10px;
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-part-links {
    text-decoration: none;
}

.topic-content {
    padding: 10px;
    color: #afa8a8;
}

.about-this {
    color: #77bfdb;
}

.footer {
    margin: 60px 10px 10px 250px;
}

.part {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
}

.footer-links {
    display: block;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #969090;
}

.languages {
    display: inline-block;
    width: 75%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #969090;
}

.copyright {
    display: inline-block;
    width: 20%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #969090;
}

.first-sub-info {
    display: inline-block;
    width: 65%;
}

.mic-img {
    display: inline-block;
    width: 30%;
}

.image {
    width: 65%;
    height: 150px;
}

.share-pic {
    width: 4%;
    height: 20px;
}

.share-article {
    text-decoration: none;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

.share {
    margin-top: 10px;
}

.using-fb {
    color: #ffffff;
}

.two {
    padding-right: 10px;
}