    .container {
        width: 1000px;
        height: 600px;
        border: #000000 solid;
        margin: auto;
    }
    
    .content {
        width: 1000px;
        height: 600px;
    }
    
    .side-bar {
        display: inline-block;
        width: 30%;
        height: 100%;
        vertical-align: top;
        background-color: #483d8b;
    }
    
    .content1 {
        margin-top: 60%;
        margin-left: 40%;
    }
    
    .title {
        display: inline-block;
        font-size: 1.8em;
        color: #ffffff;
    }
    
    .tagline {
        display: block;
        font-size: 1.4em;
        color: #ffffff;
    }
    
    .btn1 {
        display: inline-block;
        width: 30%;
    }
    
    .btn2 {
        display: inline-block;
        width: 60%;
    }
    
    .pure1 {
        color: #ffffff;
        background-color: #483d8b;
    }
    
    .library {
        color: #ffffff;
        background-color: #483d8b;
    }
    
    .main-section {
        display: inline-block;
        width: 69.6%;
        height: 100%;
        background-color: #ffffff;
    }
    
    .pure {
        display: inline-block;
        color: #ffffff;
        background-color: #3371ff;
    }
    
    .css {
        display: inline-block;
        color: #ffffff;
        background-color: #33ff46;
    }
    
    .javascript {
        display: inline-block;
        color: #ffffff;
        background-color: #ff0000;
    }
    
    .img {
        display: inline-block;
        width: 15%;
        height: 10%;
    }
    
    .by {
        display: inline-block;
        width: 80%;
        line-height: 1.4em;
    }
    
    .line {
        display: block;
        padding: 10px;
        border-bottom: #c4bdbd 1px solid;
    }
    
    .heading {
        display: inline-block;
        width: 99%;
    }
    
    .description {
        display: block;
        line-height: 1.6em;
    }
    
    .article {
        height: 50%;
    }