.container {
    width: 3000px;
    height: 900px;
}

.content {
    width: 3000px;
    height: 900px;
}

.site-logo {
    display: inline-block;
    width: 50%;
    ;
}

.loc-temp {
    display: inline-block;
    width: 20%;
}

.main-heading {
    border-bottom: #000000 solid 4px;
}

.navigation {
    display: inline-block;
    width: 60%;
    word-spacing: 10px;
}

.search-bar {
    display: inline-block;
    width: 30%;
}

.top-menu {
    border-bottom: #000000 solid 2px;
}

.pic {
    width: 150px;
    height: 150px;
}

.article {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: #808080;
}

.image {
    display: block;
}

.tagline {
    display: block;
}

.link {
    color: #000000;
    font-size: 30px;
}