.container {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.content {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.site-logo {
    display: inline-block;
    width: 50%;
}

.loc-temp {
    display: inline-block;
    width: 40%;
}

.main-heading {
    border-bottom: #000000 solid 4px;
}

.navigation {
    display: inline-block;
    width: 83.5%;
    word-spacing: 1em;
}

.search-bar {
    display: inline-block;
    width: 7%;
}

.top-menu {
    border-bottom: #000000 solid 3px;
}

.pic {
    width: 100%;
    height: 200px;
}

.article {
    display: inline-block;
    width: 32%;
    height: 300px;
    border: #000000 solid 3px;
    background-color: #dad2d2;
}

.image {
    display: block;
}

.tagline {
    display: block;
}

.link {
    font-size: 1.6em;
    color: #000000;
}

.logo-img {
    width: 60%;
    height: 60%;
}