.container {
    width: 1500px;
    height: 1000px;
}

.contents {
    width: 1500px;
    height: 1000px;
}

.first-div {
    display: inline-block;
    width: 60%;
    height: 400px;
}

.second-div {
    display: inline-block;
    width: 18.5%;
    height: 540px;
    padding: 10px;
    vertical-align: top;
    background-color: #d85872;
}

.site {
    width: 80%;
    height: 80px;
    background-color: #63a0d3;
}

.top-heading {
    padding-left: 9px;
    padding-top: 15px;
    font-size: 1.8em;
}

.sub-div {
    width: 91.7%;
    height: 200px;
    padding: 20px;
    border: #69ec69 20px solid;
    background-clip: content-box;
    background: #ffffff;
}

.title {
    padding-top: 40px;
    font-size: 30px;
}

.summary {
    padding-top: 40px;
    font-size: 1.2em;
}

.module {
    padding-top: 30px;
}