.container {
    width: 1000px;
    margin: auto;
    border: 1px #000000 solid;
}

.logo {
    width: 150px;
    height: 100px;
}

.header {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

h1 {
    display: inline-block;
    margin-top: 7%;
    margin-left: 11%;
    vertical-align: top;
    font-size: 1.6em;
}

.recent-notifications,
h2 {
    text-align: center;
}

nav,
.search-div {
    display: inline-block;
}

nav {
    width: 80%;
    margin-left: 2%;
}

li {
    display: inline-block;
    font-size: 1.2em;
}

.main-content,
.national-services,
.contact-details,
.address-details,
.social-media,
.social-media-contact {
    border: 1px #000000 solid;
    margin: 10px;
}

.national-services,
.contact-details {
    display: inline-block;
}

.national-services {
    width: 50%;
    vertical-align: top;
}

.contact-details {
    width: 45%;
}

.services-logo {
    display: block;
    height: 200px;
    margin: auto;
}

.link {
    display: block;
    margin-bottom: 20px;
    font-size: 1.4em;
    text-align: center;
}

ul {
    margin-left: 43%;
}

h3,
address {
    margin: 10px;
    font-size: 1.4em;
}

.social-media-img,
span {
    display: block;
    margin: auto;
}

span {
    text-align: center;
}

.social-media-img {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.social-media-contact {
    display: inline-block;
    width: 42%;
}