.container {
    width: 1200px;
    height: 860px;
    margin: auto;
}

.contents {
    position: fixed;
    width: 1200px;
    height: 860px;
    border: 1px #000000 solid;
    background-image: linear-gradient(to right, #cfcccc, #3f3d3d);
}

.part-one {
    width: 90%;
    height: 100px;
    margin: 4% 4% 4% 6%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.sub {
    display: inline-block;
    width: 16%;
    height: 100px;
    margin: 2% 2% 2% 6%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.sub-one {
    display: inline-block;
    width: 40%;
    height: 250px;
    margin: 2% 2% 2% 6%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.sub-two {
    display: inline-block;
    width: 50%;
    height: 300px;
    vertical-align: top;
}

.sub-part1 {
    display: inline-block;
    width: 33%;
    height: 100px;
    margin: 5% 2% 4% 13%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.sub-part2 {
    display: inline-block;
    width: 33%;
    height: 100px;
    margin: 2% 2% 2% 13%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}

.part-four {
    width: 90%;
    height: 100px;
    margin: 4% 4% 4% 6%;
    border: 1px #000000 solid;
    background-color: #ffffff;
}