.container {
    width: 1000px;
    height: 900px;
    margin: auto;
}

.content {
    width: 1000px;
    height: 900px;
    margin: auto;
}

.logo {
    display: inline-block;
    width: 15%;
    height: 15%;
    background-image: url();
}

.pic {
    width: 50%;
    height: 50%;
}

.company-name {
    border: #000000 solid 2px;
    border-radius: 25px;
}

.name {
    display: inline-block;
    width: 60%;
    height: 35%;
    padding: 10px 35px 30px 45px;
    text-align: center;
    font-size: 2.8em;
    color: #172a64;
}

.about-us {
    display: inline-block;
    width: 65%;
    height: 600px;
    vertical-align: top;
    border: #000000 solid 2px;
    border-radius: 25px;
    background-color: #eb4163;
}

.icon {
    display: inline-block;
    width: 33.5%;
    height: 600px;
    border: #000000 solid 2px;
    border-radius: 25px;
}

.image-icon {
    width: 99.5%;
    height: 600px;
}

.about-summary {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 7px;
    font-size: 1.1em;
    line-height: 1.1em;
    font-family: 'Open Sans';
}

.label {
    display: block;
    font-size: 1.7em;
    font-family: 'Open Sans';
    border: #000000 solid 2px;
    border-radius: 25px;
    background-color: #a9a9a9;
}