.container {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.content {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.logo {
    display: inline-block;
    width: 15%;
    height: 15%;
    background-image: url();
}

.pic {
    width: 50%;
    height: 50%;
}

.company-name {
    border: #000000 solid 2px;
    border-radius: 25px;
}

.name {
    display: inline-block;
    width: 60%;
    height: 35%;
    padding: 10px 35px 30px 45px;
    text-align: center;
    font-size: 2.8em;
    color: #172a64;
}

.adrs-loc {
    height: 500px;
    border: #000000 solid 2px;
    background-color: #7fff00;
}

.address-details {
    display: block;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Open Sans';
}

.address {
    position: relative;
    top: 35%;
}

.location {
    color: #800000;
    position: relative;
    top: 60%;
    text-align: center;
}

.label {
    display: block;
    text-align: left;
    font-size: 1.6em;
    font-family: 'Open Sans';
    background-color: #e99171;
}