.container {
    width: 1000px;
    height: 900px;
    margin: auto;
}

.contents {
    width: 1000px;
    height: 900px;
    margin: auto;
}

.logo {
    display: inline-block;
    width: 15%;
    height: 15%;
    background-image: url();
}

.pic {
    width: 50%;
    height: 50%;
}

.company-name {
    border: #000000 solid 2px;
    border-radius: 25px;
}

.name {
    display: inline-block;
    width: 60%;
    height: 35%;
    padding: 10px 35px 30px 45px;
    text-align: center;
    font-size: 2.8em;
    color: #172a64;
}

.menu-bar {
    display: inline-block;
    width: 25%;
    height: 600px;
    vertical-align: top;
    font-family: 'Open Sans';
    font-size: 1.6em;
    border: black solid 4px;
    background-color: #ebb248;
}

.intro {
    display: inline-block;
    width: 73%;
    height: 600px;
    background-color: #fbff00;
    border: #000000 solid 4px;
}

.link {
    display: block;
    margin-top: 35%;
    text-align: center;
    line-height: 1.2em;
    color: #000000;
}

.link:hover {
    color: #ff0000;
}

.keywords {
    display: block;
    font-size: 1.6em;
    font-family: 'Open Sans';
    text-align: center;
}

.intro-summary {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.4em;
    font-family: 'Open Sans';
    overflow-y: scroll;
}