.container {
    width: 1000px;
    height: 950px;
    margin: auto;
    border: #000000 solid 2px;
    background-color: #ffff00;
}

.content {
    width: 1000px;
    height: 950px;
    margin: auto;
}

.heading {
    font-size: 1.8em;
    color: #e61e46;
    text-align: center;
    background-color: #fff8dc;
}

.seller-info {
    height: 200px;
    width: 1000px;
    background-color: #f7f73b;
}

.photo {
    width: 150px;
    height: 150px;
}

.image {
    display: block;
    margin-left: 40%;
    margin-top: 2%;
}

.loc {
    display: block;
    margin-left: 40%;
    margin-top: 2%;
}

.label {
    font-size: 1.6em;
    color: #8b008b;
    border: #000000 solid 2px;
    background-color: #f8d377;
}

.item-div {
    display: inline-block;
    width: 32.5%;
    height: 600px;
    border: #000000 solid 2px;
    background-color: #eb5858;
}

.item {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.4em;
    text-align: center;
    color: #f5deb3;
}

.pic {
    height: 350px;
    width: 100%;
}