.container {
    width: 1400px;
    height: 1200px;
}

.contents {
    width: 1400px;
    height: 1200px;
}

.menu-bar {
    display: block;
    height: 30px;
    width: 1400px;
    text-align: center;
    font-size: 30px;
    background-color: #91b3f3;
}

.drp-btn {
    padding: 5px;
    font-size: 25px;
    color: #1e0b72;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #91b3f3;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    font-size: 20px;
    color: #1e0b72;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drp-btn::after {
    content: "|";
    margin-left: 1.2em;
    margin-right: 1.2em;
    color: black;
    font-weight: bold;
}

.image {
    display: inline-block;
    width: 15%;
    padding: 20px;
}

.intro {
    display: inline-block;
    width: 80%;
}

.content {
    width: 1340px;
    height: 500px;
    padding: 30px;
    background-color: #dda0dd;
}

.intro-summary {
    line-height: 1.2em;
    font-size: 20px;
    color: #ffffff;
}

.content-summary {
    font-size: 20px;
    color: #ffffff;
}

.pic {
    width: 200px;
    height: 200px;
}